{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "printWidth": 100
}
