:root {
  /* COLORS */

  /* Primary */
  --ActiveInputBorder-1: hsl(249 99 64);
  --ActiveInputBorder-2: hsl(278 94 30);
  --InputError: hsl(0 100 66);

  /* Neutral */
  --White: hsl(0 0 100);
  --LightGrayishViolet: hsl(270 3 87);
  --DarkGrayishViolet: hsl(278 6 55);
  --VeryDarkViolet: hsl(278 68 11);

  /*  TYPOGRAPHY */
  --base-paragraph-font-size: 1.8rem;
  --base-font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: var(--base-paragraph-font-size);
  font-weight: var(--base-font-weight);
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input,
button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  outline-color: hsl(278 94 30);
}

input:hover {
  outline-color: hsl(278 94 30);
}

img {
  display: block;
}
