.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

.background {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to right bottom,

    #21092f 10%,
    #3c1452,
    #5b1e78,
    #3c1452,
    #21092f 80%
  );
  background-size: 130% 130%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 100px 45px;
  padding-inline: 24px;
}

@media screen and (min-width: 1100px) {
  .layout {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
  .background {
    align-items: center;
    justify-content: initial;
  }
  .content {
    padding-block: 100px;
    padding-inline: 367px 20px;
    align-items: initial;
    justify-content: center;
  }
}
